body {
    font-family: Calibri;
  }
 
  br.page-break {page-break-before: always;}

  table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
  }

  table td, table th {
    border: 1px solid #000;
    margin: 0px;
    padding: 2px;
  }

  .heading1 {
      font-size: 24pt;
  }
  
  .heading2 {
    font-size: 18pt;
  }
  
  .heading3 {
    font-size: 16pt;
  }
  
  .heading4 {
    font-size: 14pt;
  }
  
  code {
    font-weight: bold;
    background-color: #DFDFDF;
  }
  
  pre {
    color: #004080;
    border: 1px solid #004080;
    padding: 5px;
    tab-size: 2;
  }

  pre code {
    font-weight: normal;
    background-color: transparent;
  }